<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="..\..\AppSettingsSecrets.config">
    <add key="Account_DemoBuild_Hobbit" value="https://hobbit.documents.azure.com:443/"/>
    <add key="Account_DemoBuild_Hobbit_Graph" value="hobbit.graphs.azure.com:443/"/>
    <!-- Read more on securing your keys here: https://docs.microsoft.com/en-us/aspnet/identity/overview/features-api/best-practices-for-deploying-passwords-and-other-sensitive-data-to-aspnet-and-azure -->
    <add key="Account_DemoBuild_Hobbit_Key" value="This is stored elsewhere :-P"/>
  </appSettings>
</configuration>